@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";


@theme {
  --color-primary-100: #e29779;
  --color-primary-200: #da7d58;
  --color-primary-300: #d36336;
  --color-primary-400: #b85128;
  --color-primary-500: #974221;
  --color-primary-600: #75341a;
  --color-primary-700: #542512;
  --color-primary-800: #241008;
  --color-primary-900: #110704;

  --color-secondary-100: #79e297;
  --color-secondary-200: #58da7d;
  --color-secondary-300: #36d363;
  --color-secondary-400: #28b851;
  --color-secondary-500: #219742;
  --color-secondary-600: #1a7534;
  --color-secondary-700: #125425;
  --color-secondary-800: #082410;
  --color-secondary-900: #041107;

  --color-accent-100: #C6E5F2;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--color-accent-100);
  font-family: var(--font-sans);
  background-color: var(--color-primary-800);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

body::after {
  content: "";
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

@layer base {}

.form-wrapper {
  @apply flex flex-col gap-4;
}
